# pip has an issue with installing python through pip. My python requirement is commented out for this reason.
# python==3.9.5
asgiref==3.4.1
certifi==2021.5.30
Django==3.2.5
django-editorjs==0.2.1
sqlparse==0.4.2

# Installs PostgreSQL dependency
psycopg2==2.8.6

# Gunicorn is needed alongside nginx to serve up dynamic python web-applications
# https://testdriven.io/blog/dockerizing-django-with-postgres-gunicorn-and-nginx/
gunicorn==20.1.0

# docker image
# nginx