
body {
    background-color: 	#c0c0c0
}

.welcome > h2, .welcome > p {
    color: white;
}

#nav-items {
    background-color: #708090
}

.container {
    position: absolute;
    bottom:0;
    left: 0;
    right:0;
    padding-bottom:50px;
}

.create-forms, #product-form, #client-form, #usecase-form {
    display: none;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    height: 17rem;
}

.card .card-title {
    border-radius: .25rem .25rem 0px 0px;
    border: 0px;
    background-color: whitesmoke;
}

.card-text {
    padding: 5px;
}

.card-title {
    margin: 0px;
    width: 100%;
    background-color: #708090;
}

.input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 80%;
    min-width: 0;
    margin-bottom: 5px;
}


#product-btn, #client-btn, #usecase-btn {
    display: none;
    width: 60%;
    margin: auto;
}

#product-delete-btn, #client-delete-btn, #usecase-delete-btn {
    display: none;
}

.card {
    margin: 5px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

