{% load static %}

{% block body %}
<div class='input-group input-group-lg mb-3'id='usecase-form'>
    <input type="hidden" id='usecase-input-id'>
    <input type='text' id='usecase-name' class='form-control' placeholder='Enter brief Usecase' aria-label=''>
    <input type='text' id='usecase-desc' class='form-desc form-control' placeholder='Brief Description of the Use Case' maxlength="200">
    <select name="status" id='usecase-status'></select>
    <button type="submit" id='usecase-submit' class='btn btn-primary'>Submit</button>
</div>
{% endblock %}