{% load static %}

{% block body %}
<div class='input-group input-group-lg mb-3' id='client-form'>
    <input type="hidden" id='client-input-id'>
    <input type='text' id='client-name' class='form-control' placeholder='Enter Client Name' aria-label=''>
    <input type='text' id='client-desc' class='form-desc form-control' placeholder='Tell me about your client' maxlength="200">
    <input type="url" name="url" id="client-crm-link" placeholder="CRM Link page">
    <button type="submit" id='client-submit' class='btn btn-primary'>Submit</button>
</div>
{% endblock %}