
{% extends "layout.html" %}

{% block body %}
    <div class="welcome" id="welcome-desc" center>
        <h2>Welcome to Use Case Tracker!</h2>
        <p>A centralized place in which Sales, Product and Engineering teams can Create, Update & Track Use Cases associated with your Client or Product.</p>
        <p>Sales don't have the licenses to access our Product pages. Nor do Product teams always have access to salesforce. This is a central hub for the salesforce and product teams to align feedback with items that may need to be built.</p>
        <br>
    </div>

    <button type="button" class="collapsible"><strong>How To:</strong></button>
    <div class="content" style="opacity: 0.8;">
        <ul>
            <li><p>Navigate to the desired <code>Board</code>, using the Navigation Bar at the top of the page.</p></li>
            <li><p>Create <code>Records</code> by clicking on the <button class='btn btn-primary'>Create</button> button centered toward the top of the page.</p></li>
            <li><p><code>Records</code> will automatically show up as Cards whithin the board you're currently on</p></li>
            <li><p><code>Card</code> will be color coded according to the <code>Board</code> they were created within</p>
                <ul>
                    <li><h5 class="card-title" style="background-color: #659ACF; width: 6rem;">Products</h5></li><br>
                    <li><h5 class="card-title" style="background-color: #F39A6D; width: 6rem;">Clients</h5></li><br>
                    <li><h5 class="card-title" style="background-color: #6FC78D; width: 6rem;">Use Cases</h5></li>
                </ul>
            </li>
            <li><p>View previously created <code>Card</code> details by clicking on the <button class='btn btn-primary'>View</button> button.</p></li>
            <li><p>When viewing <code>Card</code> details, you may <button class="btn btn-outline-primary">Edit</button> to update the record or <button class="btn btn-danger">Delete</button> the record.</p></li>
            <li><p>Check <code>Status</code> when viewing <code>Card</code> details by hovering over the <code>Status</code> Icon:</p>
                <ul> <p><strong>Legend</strong></p>
                    <li style="list-style:none">Product Status:
                        <ul>
                            <li><i class="fas fa-question-circle fa-lg" style="color:#E6E82A"></i>: Concept</li>
                            <li><i class="fas fa-cog fa-lg" style="color:#E84A2A"></i>: Pre Alpha</li>
                            <li><i class="fas fa-cogs fa-lg" style="color:#CC2AE8"></i>: Alpha</li>
                            <li><i class="fas fa-users-cog fa-lg" style="color:#6DE7F3"></i>: Beta</li>
                            <li><i class="fas fa-hourglass-end fa-lg" style="color:#2AE8A3"></i>: Release Candidate</li>
                            <li><i class="fas fa-check-circle fa-lg" style="color:#2AE839"></i>: Live</li>
                        </ul>
                    </li>
                    <li style="list-style:none">Use Case Status:
                        <ul>
                            <li><i class="fas fa-times-circle fa-lg" style="color:#E84A2A"></i>: Not Supported</li>
                            <li><i class="fas fa-clock fa-lg" style="color:#E6E82A"></i>: Queued</li>
                            <li><i class="fas fa-hourglass-end fa-lg" style="color:#6DE7F3"></i>: In Review</li>
                            <li><i class="fas fa-check-circle fa-lg" style="color:#2AE839"></i>: Live</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><p>When on a <code>Board</code> narrow down the results shown on page by <button class="btn btn-outline-success">Search</button>ing for characters, words, phrases or exact names for the item you're looking for</p></li>
            <li><p><button class="btn btn-outline-success">Search</button> is not case sensitive</p></li>
        </ul>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
            content.style.display = "none";
            } else {
            content.style.display = "block";
            }
        });
        }
    </script>


    <div class="create-forms">
        {% include 'product-form.html' %}
        {% include 'client-form.html' %}
        {% include 'usecase-form.html' %}
    </div>
    
    <div class='pages-div'>
        <div id='product-page'>
            <button class='create-btn btn btn-primary' id='product-btn'></button>
            <br>
            <div class='card-container' id='product-card-container'></div>
            <div class='view' id="product-view"></div>
            <button class="delete-btn btn btn-danger" id='product-delete-btn'>Delete Product</button>
        </div>
        
        <div id='client-page'>
            <button class='create-btn btn btn-primary' id='client-btn'>Create Client</button>
            <div class='card-container' id='client-card-container'></div>
            <div class="view" id="client-view"></div>
            <button class="delete-btn btn btn-danger" id='client-delete-btn'>Delete Client</button>
        </div>
        
        <div id='usecase-page'>
            <button class='create-btn btn btn-primary' id='usecase-btn'>Create Use Case</button>
            <div class='card-container' id='usecase-card-container'></div>
            <div class="view" id='usecase-view'></div>
            <button class="delete-btn btn btn-danger" id='usecase-delete-btn'>Delete Use Case</button>
        </div>
    </div>

{% endblock %}